<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.rusiqe.prince-edward"
        versionCode="10"
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Prince Edward Daily Calendar</name>

    <description>
        p.e_dailly_calendar_app.
    </description>

    <author href="http://www.twitter.com/rusiqe" email="rusiqe@gmail.com">
        Taurai Rusike
    </author>

    <preference name="webviewbounce" value="false" />

    <access origin="*" />

</widget>
